/* Títulos com fundo do tamanho do texto */
h1, h2{
  width: fit-content;
  background: #000000;
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
}

/* Estrutura da página */
html, body {
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background: #858585;
}

/* Main ocupa o espaço disponível */
main {
  flex: 1;
}

.texto, .n1n2, .container {
  margin: 8px;
}

footer {
  background: #000000;
  color: #fff;
  padding: 0px;
  width: 100%;
  margin: 0px;
}

.direitos {
  text-align: center;
  font-size: 14px;
}